:root {
	--light-text-color: #ffffff;
	--text-color: #737373;
}

body {
	font-family: "Roboto", sans-serif;
	color: #000000;
}
h1,
h2,
h3,
h4,
p {
	margin: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
a {
	text-decoration: none;
	outline: none;
}
address {
	font-style: normal;
}

button {
	cursor: pointer;
	outline: none;
	font-family: inherit;
	border: none;
	background: transparent;
}

img {
	display: block;
}

.container {
	width: 1190px;
	margin: 0 auto;
	padding: 0 15px;
	/* outline: 2px solid tomato; */
}

/* HEADER  */
.header {
	/* position: absolute;
	width: 100%; */
	padding: 40px 0;
	background-color: #100e35;
}

header .container {
	display: flex;
	align-items: center;
}

.header-logo img {
	margin-right: 8px;
}

.header-logo {
	display: flex;
	align-items: center;
	font-family: "Albert Sans", sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: var(--light-text-color);
}

.header nav {
	margin-left: auto;
}

.header-list {
	display: flex;
	margin-right: 52px;
	gap: 50px;
}
.header-link {
	padding: 15px 0;
	font-size: 13px;
	line-height: 2.31;
	color: #ffffff;
}

.header-btn {
	padding: 12px 15px 12px 16px;
	border: 1px solid var(--light-text-color);
	border-radius: 4px;
	background: transparent;
	font-size: 13px;
	line-height: 1.23;
	text-align: center;
	color: var(--light-text-color);
}

/* ------------- HERO ------------- */
.hero {
	padding: 240px 0 270px;
	background-color: #100e35;
	/* background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: center; */
}

.hero-title {
	margin-bottom: 35px;
	max-width: 420px;
	font-size: 41px;
	line-height: 1.22;
	color: var(--light-text-color);
}

.hero-text {
	margin-bottom: 35px;
	max-width: 420px;
	font-size: 11px;
	line-height: 2.73;
	color: var(--light-text-color);
}

.hero-btn {
	padding: 15px 37px;
	font-size: 15px;
	line-height: 2;
	color: var(--light-text-color);
	background: #0a8bfe;
	border-radius: 4px;
}

/* WORK  */

.work {
	padding-top: 150px;
	padding-bottom: 70px;
	background: #100e35;
}

.work-title {
	text-align: center;
	margin-bottom: 80px;
	font-weight: 400;
	font-size: 41px;
	line-height: 1.22;
	color: #ffffff;
}

.work-number {
	display: block;
	font-size: 42px;
	line-height: 1.19;
	color: #ffffff;
}

.work-list-first {
	display: flex;
	justify-content: space-between;
	margin-bottom: 95px;
}

.work-list-first .work-item {
	max-width: 168px;
}
.work-list-first .work-text {
	font-size: 11px;
	line-height: 2.73;
	color: #ffffff;
}

.work-list-second {
	display: flex;
	flex-wrap: wrap;
	margin-right: -30px;
	margin-bottom: -30px;
	margin-bottom: 40px;
}

.work-list-second .work-item {
	width: 565px;
	padding: 10px;
	margin-right: 30px;
	margin-bottom: 30px;
	background-color: #ffffff;
}

.work-list-second .work-title {
	font-size: 24px;
	line-height: 1.58;
	color: #000000;
}

.work-list-second .work-text {
	font-size: 16px;
	line-height: 1.88;
	color: var(--text-color);
}

.work-thumb {
	padding: 35px 30px;
}

.work-list-title {
	margin-bottom: 25px;
}

.work-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 50px;
	font-size: 15px;
	line-height: 2;
	color: #ffffff;
	background-color: #0a8bfe;
	border-radius: 4px;
}
